<style type="text/css">

body {
  font-family: Helvetica Neue;
}

nav {
  color: white;
  background-color: black;
}

h1 {
  font-weight: bolder;
  /*padding: 20px;*/
  margin: 20px;
}

.profiledata {
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  float: left;
  height: 300px;
}

.profilepic {
  float: left;
  height: 300px;

}

</style>


<nav>
<h1>Member Profile <%= @player.firstname %> <%= @player.secondname %></h1>
</nav>


<div class="profilepic">

<img src="<%= asset_path (@player.image) %>">


</div>



<div class="profiledata">

  <p>First Name: <%= @player.firstname %></p>
  <p>Last Name: <%= @player.secondname %></p>
  <p>HCP: <%= @player.HCP %></p>
  <p>Golf Club: <%= @player.club %></p>
  <p>Brand: <%= @player.brand %></p>

</div>


