<nav>
<h1>Member Profile <%= @player.firstname %> <%= @player.secondname %></h1>
</nav>


<div class="profilepic">

<img src="<%= asset_path (@player.image) %>">


</div>



<div class="profiledata">

  <p>First Name: <%= @player.firstname %></p>
  <p>Last Name: <%= @player.secondname %></p>
  <p>HCP: <%= @player.HCP %></p>
  <p>Golf Club: <%= @player.club %></p>
  <p>Brand: <%= @player.brand %></p>

</div>


