

<div class="profile">

    <div class="container"><!-- Spalten -->

          <div class="row">

                <div class="col-lg-12 white">

                            <img src="<%= asset_path (@player.photo) %>" width = "150" class = "img-circle" >

                </div>

          </div>

          <div class="row">

            <div class="col-lg-12 white">


                            <h1><%= @player.firstname %> <%= @player.secondname %></h1>

            </div>

          </div>



          <div class="row">
              <div class="col-lg-12 white">

                                  <h4>HCP: <%= @player.HCP %></h4>
                                  <h4><%= @player.club %></h4>
                                  <h4><%= @player.brand %></h4>


              </div>
          </div>


    </div>

</div>
